In [1]:
import pandas as pd
import numpy as np
import preprocessor as pre
from datetime import datetime

In [2]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [3]:
ds=pd.read_json('../dataset/Tweet-Fact-Not-Fact.jsonl')
ds.head()

,id,text,labels
0,591974898139987968,RT @Economynext: #SriLanka to fly emergency me...,1
1,591979323164233729,India committed in aid to Nepal: President Pra...,-1
10,591977175768698881,RT @iamamkay: need all out support @nytimes: N...,-1
100,591996410792321024,RT @MERCYMalaysia: MERCY Malaysia will be resp...,-1
1000,592204836038311937,RT @AmeriCares: #Nepal is a very poor country ...,-1

In [4]:
id2tweet={}
for ix in range(len(ds)):
    pre.set_options(pre.OPT.URL, pre.OPT.EMOJI,pre.OPT.SMILEY,pre.OPT.MENTION,pre.OPT.HASHTAG)
    tweet=pre.clean(ds.text[ix].replace("\n"," "))
    id2tweet[ds.id[ix]]=tweet

In [5]:
all_ids=list(id2tweet.keys())

In [6]:
def check(ix):
    doc=nlp(id2tweet[ix])
    print (id2tweet[ix])
    pnoun=0
    num=0
    for token in doc:
            if (token.pos_ == "PROPN") :
                print ('Pnoun--> ',token)
                pnoun+=1
            if (token.pos_ == "NUM"):
                print ('num--> ',token)
                num+=1
    print (doc.ents)

In [7]:
id2features={}
i=0
for ix in list(id2tweet.keys()):
    i=i+1
    if(i%2000==0):
        print(i)
    doc=nlp(id2tweet[ix])
    pnoun=0
    num=0
    for token in doc:
        if (token.pos_ == "PROPN") :
            pnoun+=1
        if (token.pos_ == "NUM"):
            num+=1
    id2features[ix]=[pnoun,len(doc.ents),num]

2000
4000
6000
8000
10000
12000
14000
16000
18000
20000
22000
24000
26000
28000
30000
32000
34000
36000
38000
40000
42000
44000
46000
48000
50000

In [8]:
l=[]
for ix in all_ids:
    l.append([ix]+id2features[ix])
df=pd.DataFrame(l,columns=['id','pnouns','ent','num'])

In [9]:
id2tweet[df.id[4]]
check(df.id[4])

India sends 39 team, 2 dogs and 3 tonnes equipment to Nepal Army for rescue operations: Indian Embassy in
Pnoun-->  India
num-->  39
num-->  2
num-->  3
Pnoun-->  Nepal
Pnoun-->  Army
Pnoun-->  Indian
Pnoun-->  Embassy
(India, 39, 2, 3 tonnes, Nepal Army, Indian, Embassy)

In [11]:
df.head()

                   id  pnouns  ent  num
0  591974898139987968       1    1    0
1  591979323164233729       9    5    0
2  591984387526234112       2    0    0
3  591984010714157056       0    0    0
4  591974595525128195       5    7    3

In [18]:
sorted(list(df.pnouns))[-1]

18

In [12]:
df_ent=df[['id','ent']]
df_ent=df_ent.sort_values('ent',ascending=False).reset_index(drop=True)
df_ent.head()

                   id  ent
0  593343223852113920   12
1  592902646555631616   11
2  594505741337112576   11
3  592701043030495232   11
4  592679376761835520   10

In [13]:
file=open('ent_100.txt','w')
txt=''
for ix in range(100):
    temp=df_ent.id[ix]
    txt+=f'{temp} {id2tweet[temp]}\n'
file.write(txt)
file.close()

In [28]:
df.head()

                   id  pnouns  ent  num  score
0  591974898139987968       1    1    0    0.1
1  591979323164233729       9    5    0    0.9
2  591984387526234112       2    0    0    0.2
3  591984010714157056       0    0    0    0.0
4  591974595525128195       5    7    3    0.8

In [29]:
check(591984010714157056)

Quake wake-up call for govt, need better building tech: Eert
()

In [14]:
for ix in range(10):
    check(df_ent.id[ix])
    print ('-'*100)

Currently working rescue Army : CHINA, INDIA,FRANCE,ISREAL,TURKEY,GERMANY,USA,UK,UAE,SRILANKA,PAKISTAN,CANADA
Pnoun-->  Army
Pnoun-->  CHINA
Pnoun-->  INDIA
Pnoun-->  FRANCE
Pnoun-->  ISREAL
Pnoun-->  TURKEY
Pnoun-->  GERMANY
Pnoun-->  USA
Pnoun-->  UK
Pnoun-->  UAE
Pnoun-->  SRILANKA
Pnoun-->  PAKISTAN
Pnoun-->  CANADA
(Army, CHINA, INDIA, FRANCE, ISREAL, TURKEY, GERMANY, USA, UK, UAE, PAKISTAN, CANADA)
----------------------------------------------------------------------------------------------------
Earthquake Helpline: West Bengal: 1070, MHA. 23093564/66, NDMA. 26701728/29, 9868881801 Indian Embassy in Kathmandu: +977 9851107021/35141
Pnoun-->  Earthquake
Pnoun-->  Helpline
Pnoun-->  West
Pnoun-->  Bengal
num-->  1070
Pnoun-->  MHA
num-->  23093564/66
Pnoun-->  NDMA
num-->  26701728/29
num-->  9868881801
Pnoun-->  Indian
Pnoun-->  Embassy
Pnoun-->  Kathmandu
num-->  977
num-->  9851107021/35141
(West Bengal, 1070, MHA, 23093564/66, NDMA, 26701728/29, 9868881801, Indian, Embassy, Kathmandu, 977 9851107021/35141)
----------------------------------------------------------------------------------------------------
RAF about to evacuate 30 from earthquake zone to Delhi: 6 Brits, Irish, US, Polish, Indian, Nepali, French
num-->  30
Pnoun-->  Delhi
num-->  6
Pnoun-->  Brits
Pnoun-->  Irish
Pnoun-->  US
Pnoun-->  Polish
Pnoun-->  Indian
Pnoun-->  Nepali
Pnoun-->  French
(RAF, 30, Delhi, 6, Brits, Irish, US, Polish, Indian, Nepali, French)
----------------------------------------------------------------------------------------------------
There were 11 deahts in East Champaran, 7 in Darbhanga &amp; Sitamarhi, 6 in Araria, 3 each in Sheohar, Siwan nd Lakhisarai.
num-->  11
Pnoun-->  East
Pnoun-->  Champaran
num-->  7
Pnoun-->  Darbhanga
Pnoun-->  Sitamarhi
num-->  6
Pnoun-->  Araria
num-->  3
Pnoun-->  Sheohar
Pnoun-->  Siwan
Pnoun-->  Lakhisarai
(11, East Champaran, 7, Darbhanga &, Sitamarhi, 6, Araria, 3, Sheohar, Siwan, Lakhisarai)
----------------------------------------------------------------------------------------------------
RT : 72 deaths due to earthquake in India: Bihar 56, UP 12, WB 3, Raj 1. Injurdes:Bihar 175, UP 70 WB 35, Sikkim 9, Raj 7: Hom…
Pnoun-->  RT
num-->  72
Pnoun-->  India
Pnoun-->  Bihar
num-->  56
Pnoun-->  UP
num-->  12
Pnoun-->  WB
num-->  3
Pnoun-->  Raj
num-->  1
Pnoun-->  Bihar
num-->  175
num-->  70
Pnoun-->  WB
num-->  35
Pnoun-->  Sikkim
num-->  9
Pnoun-->  Raj
num-->  7
(RT, 72, India, Bihar 56, 12, WB, 1, Bihar 175, UP 70 WB 35, Sikkim 9, 7)
----------------------------------------------------------------------------------------------------
RT : 72 deaths due to earthquake in India: Bihar 56, UP 12, WB 3, Raj 1. Injurdes:Bihar 175, UP 70 WB 35, Sikkim 9, Raj 7: Hom…
Pnoun-->  RT
num-->  72
Pnoun-->  India
Pnoun-->  Bihar
num-->  56
Pnoun-->  UP
num-->  12
Pnoun-->  WB
num-->  3
Pnoun-->  Raj
num-->  1
Pnoun-->  Bihar
num-->  175
num-->  70
Pnoun-->  WB
num-->  35
Pnoun-->  Sikkim
num-->  9
Pnoun-->  Raj
num-->  7
(RT, 72, India, Bihar 56, 12, WB, 1, Bihar 175, UP 70 WB 35, Sikkim 9, 7)
----------------------------------------------------------------------------------------------------
RT : Missing tourists in earthquake include 15 French, 12 Russians, 10 Canadians, 9 Americans and 8 Spanish.
Pnoun-->  RT
num-->  15
Pnoun-->  French
num-->  12
Pnoun-->  Russians
num-->  10
Pnoun-->  Canadians
num-->  9
Pnoun-->  Americans
num-->  8
Pnoun-->  Spanish
(15, French, 12, Russians, 10, Canadians, 9, Americans, 8, Spanish)
----------------------------------------------------------------------------------------------------
RT : India's MEA opens 24-hour control room for queries regarding tragic Nepal earthquake. +91 11 2301 2113 +91 11 2301 4104 +91…
Pnoun-->  RT
Pnoun-->  India
Pnoun-->  MEA
num-->  24-hour
num-->  91
num-->  11
num-->  2301
num-->  2113
num-->  91
num-->  11
num-->  2301
num-->  4104
num-->  91
(RT, India, MEA, Nepal, 91, 11, 91, 11, 91)
----------------------------------------------------------------------------------------------------
China Earthquake 26 July 1976, Japan 26 feb 2010, Mumbai attack 26/11, Now Nepal earthquake 26 April 2015. "26"? Is it just a Coincidence?
Pnoun-->  China
Pnoun-->  Earthquake
num-->  26
Pnoun-->  July
num-->  1976
Pnoun-->  Japan
num-->  26
num-->  2010
Pnoun-->  Mumbai
num-->  26/11
Pnoun-->  Nepal
num-->  26
Pnoun-->  April
num-->  2015
num-->  26
(China, 26 July 1976, Japan, 26 feb 2010, Mumbai, 26/11, 26 April 2015, 26, Coincidence)
----------------------------------------------------------------------------------------------------
EARTHQUAKE OF 1990 VS isn't 8.4 but M=8.0 Nep-Ind border region Time 1934-01-15AD 14:28:25 UTC+05:45 Location26.885°N 86.589°E Depth:15.0 km
num-->  1990
Pnoun-->  VS
num-->  8.4
Pnoun-->  M=8.0
Pnoun-->  Nep
Pnoun-->  Ind
Pnoun-->  Time
num-->  1934
num-->  01
num-->  15AD
num-->  14:28:25
Pnoun-->  UTC+05:45
Pnoun-->  Location26.885
num-->  86.589
(1990, VS, 8.4, M=8.0 Nep-Ind, 1934-01-15AD, 14:28:25, Location26.885, °, 86.589)
----------------------------------------------------------------------------------------------------

In [15]:
df.pnouns=df.pnouns.apply(lambda x: min(x,5))
df.ent=df.ent.apply(lambda x: min(x,5))
df.num=df.num.apply(lambda x: min(x,5))

In [17]:
df.head()

                   id  pnouns  ent  num
0  591974898139987968       1    1    0
1  591979323164233729       5    5    0
2  591984387526234112       2    0    0
3  591984010714157056       0    0    0
4  591974595525128195       5    5    3

In [22]:
comb_score=[]
for ix in range(len(df)):
    try:
        comb_score.append(0.1*df.pnouns[ix]+0.1*df.num[ix])
    except:
        print (df)

In [23]:
df['score']=comb_score

In [27]:
df.head()

                   id  pnouns  ent  num  score
0  591974898139987968       1    1    0    0.1
1  591979323164233729       9    5    0    0.9
2  591984387526234112       2    0    0    0.2
3  591984010714157056       0    0    0    0.0
4  591974595525128195       5    7    3    0.8

In [25]:
df_sorted=df.sort_values('score',ascending=False).reset_index(drop=True)

In [26]:
df_sorted.head()

                   id  pnouns  ent  num  score
0  596387549796442112      18    4    3    2.1
1  592679376761835520      10   10   10    2.0
2  594501061924167680      10   10   10    2.0
3  594081370835562496      12    9    7    1.9
4  592523896357695488       6    6   13    1.9

In [34]:
txt=''
for ix in range(100):
    txt+=id2tweet[df_sorted.id[ix]]+'\n'
print (txt)
file=open('best_fire.txt','w')
file.write(txt)
file.close()

3Novices:Nepal Earthquake: Man Rescued After 80 Hours in Collapsed Building With 3 Bodies A 28-year-old man spent over 80 hours with three …
RT : MEA opens 24 hour Control Room for queries regarding the Nepal Earthquake. Numbers: +91 11 2301 2113 +91 11 2301 4104 +91 11…
Green earthquake alert (Magnitude 4.6M, Depth:10km) in Nepal 26/04/2015 22:32 UTC, 13197114 people within 100km. (vía GDACS)
RT : BJPDelhiState: RT MEAIndia: In action again. 24 hour control room 4 Nepal Earthquake. Numbers +91 11 2301 2113 +91 11 …
RT : 4.6 earthquake, 57km NNE of Tambo, Peru. Apr 26 16:10 at epicenter (14m ago, depth 70km).
26 Dec 1861 Earthquake in Egion, Yunani 26 Mar 1872 Earthquake in Owens Valley, USA 26 Aug 1896 Earthquake in...
MEA opens 24 hour Control Room for queries regarding tragic Nepal Earthquake. Numbers: +91 11 2301 2113 +91 11...
RT : 4.6 earthquake, 76km SSE of Bitung, Indonesia. May 2 13:23 at epicenter (19m ago, depth 85km).
4.9 earthquake! Fri May 08 06:17:33 GMT+05:45 2015 near 32km S of Kodari, Nepal That aftershock was almost 5 richter
A magnitude 6.8 earthquake has occurred NEW BRITAIN REGION, P.N.G. at: 5.41S 151.72E Depth 50km 30/04/2015 at 10:45:05 (Universal Time)
USGS EQ: M 4.2 - 29km S of Kodari, Nepal: DYFI? - IIITime2015-05-02 21:44:10 UTC2015-05-03 03:29:1...
6.8 earthquake! Fri May 01 13:36:04 GMT+05:30 2015 near 106km SSW of Kokopo, Papua New Guinea
4.2 earthquake! Sun May 03 03:14:10 GMT+05:30 2015 near 29km S of Kodari, Nepal
RT : 5.1 earthquake, 5km SW of Mirik, India. Apr 27 18:20 at epicenter (20m ago, depth 67km).
RT : Gujrat Earthquake 26/01. Tsunami 26/04 Mumbai attack 26/11 Nw Nepal earthquake 26/04. Y is it Alws 26? is it Coincidence?
USGS EQ: M 4.9 - 32km S of Kodari, Nepal: DYFI? - IVTime2015-05-08 00:32:33 UTC2015-05-08 06:17:33...
RT : 4.8 earthquake, 113km SW of Panguna, Papua New Guinea. May 7 19:33 at epicenter (23m ago, depth 10km).
2015-05-06 01:35:12 (M5.0) NEW BRITAIN REGION, PAPUA NEW GUINEA -6.3 149.9 (70fa9) notice
RT : If anyone need help call these numbers of Armed Police Force: Hotline: 1114, other numbers: 01-4270553, 4287347, 4287544, 985127…
5.3 M earthquake reported 135km SW of Port Blair, India 2015-05-01 08:58:41 UTC 26.9 km (SRC: USGS)
IS IT CO INCIDENCE!!!!!!!! Gujrat Earthquake 26 Jan 2001. Tsunami 26 Dec 2004 China Earthquake 26 July 1976...
RT : Ten years on,remember the Kashmir Earthquake,8.2 on Richter Scale, 80,000 dead, 75,500 injured, 2.8 million displaced h…
RT : 72 deaths due to earthquake in India: Bihar 56, UP 12, WB 3, Raj 1. Injurdes:Bihar 175, UP 70 WB 35, Sikkim 9, Raj 7: Hom…
Earthquake in Nepal 2015, CCTV footage Category: Event, News, Top video MAY 1, 2015 2,989 0 CCTV footage of...
RT : 5.0 earthquake, 47km SSE of Jumla, Nepal. Apr 21 19:47 at epicenter (39m ago, depth 40km).
USGS EQ: M 4.2 - 35km SE of Lamjung, Nepal: DYFI? - IIITime2015-04-30 00:37:11 UTC2015-04-30 06:22...
RT : 5.2 earthquake, 86km S of Kokopo, Papua New Guinea. May 5 15:03 at epicenter (16m ago, depth 56km).
RT : IMPORTANT Contacts Control Room numbers : +91 11 2301 2113, +91 11 2301 4104 +91 11 2301 7905 Email : controlr…
4.5 earthquake! Mon Apr 27 21:36:46 GMT+05:45 2015 near 22km WSW of Kirtipur, Nepal
RT : 5.2 earthquake, 124km SSW of Kokopo, Papua New Guinea. May 5 12:40 at epicenter (13m ago, depth 34km).
Sunday, May 03, 2015: Sunday, May 03, 2015 Nepal Earthquake: Death toll reaches 7,000 as more bodies fou...
RT : 5.6 earthquake, 41km WNW of Kirtipur, Nepal. Apr 26 05:01 at epicenter (19m ago, depth 10km).
RT : Revised (7.5 -&gt; 7.4): 7.4 earthquake, 133km SSW of Kokopo, Papua New Guinea. May 5 11:44 at epicenter (17m ago... http:/…
M 4.8 - 5km SSW of Tuensang, India: DYFI? - IVTime2015-04-30 19:21:18 UTC2015-05-01 00:51:18 +05:30 at e...
RT : Papua New Guinea had a 6.8 earthquake on 2015-05-01. and today they had a 7.4 . Aftershock, and a huge one !
RT : 4.6 earthquake, 35km SSW of Pondaguitan, Philippines. Apr 27 20:04 at epicenter (20m ago, depth 150km).
RT : 5.0 earthquake, 15km NNE of Nagarkot, Nepal. Apr 25 13:32 at epicenter (26m ago, depth 10km).
5.3 earthquake! Fri May 01 14:28:41 GMT+05:30 2015 near 135km SW of Port Blair, India
USGS EQ: M 5.0 - 25km E of Khudi, Nepal: DYFI? - IVTime2015-05-02 05:35:46 UTC2015-05-02 11:20:46 ...
Today, April 27, 2015 another earthquake. Time 18:06 hrs, epicentre 5Km SW of Mirik (Darjeeling). Magnitude 4.5...
RT : 5.0 earthquake! Sat May 02 11:20:46 GMT+05:45 2015 near 25km E of Khudi, Nepal
2015-05-05 01:44:07 UPDATED: (M7.4) NEW BRITAIN REGION, PAPUA NEW GUINEA -5.5 151.9 (70fa9) notice
RT : 5.0 earthquake, 29km SSW of Kodari, Nepal. Apr 26 13:11 at epicenter (22m ago, depth 10km).
Tremors felt in Eastern part of Nepal | 5.1 earthquake! Mon Apr 27 18:20:57 GMT+05:45 2015 near 5km SW of Mirik, India
RT : Revised (7.1 -&gt; 6.8): 6.8 earthquake, 106km SSW of Kokopo, Papua New Guinea. May 1 18:06 at epicenter (52m ago, ... http…
USGS EQ: M 4.6 - 221km N of Bamboo Flat, India: DYFI? - ITime2015-05-08 03:02:33 UTC2015-05-08 09:...
RT : 7.5 earthquake, 137km S of Kokopo, Papua New Guinea. May 5 11:44 at epicenter (7m ago, depth 10km).
5.3 earthquake! Fri May 01 14:28:41 GMT+05:30 2015 near 135km SW of Port Blair, India
USGS EQ: M 5.1 - 5km SW of Mirik, India: DYFI? - VTime2015-04-27 12:35:57 UTC2015-04-27 18:20:57 +...
RT : 4.7 earthquake, 25km S of Kodari, Nepal. Apr 26 13:21 at epicenter (21m ago, depth 10km).
RT : Revised (7.2 -&gt; 7.1): 7.1 earthquake, 144km SW of Panguna, Papua New Guinea. May 7 17:10 at epicenter (53m ago... http:/…
RT : 4.9 earthquake, 154km SW of Panguna, Papua New Guinea. May 8 00:34 at epicenter (31m ago, depth 42km).
M 4.5 - 22km WSW of Kirtipur, Nepal: DYFI? - VITime2015-04-27 15:51:46 UTC2015-04-27 21:36:46 +05:...
RT : 5.6 earthquake, 41km WNW of Kirtipur, Nepal. Apr 26 05:01 at epicenter (19m ago, depth 10km).
RT : New mb 4.1 NEPAL: Magnitude mb 4.1 Region NEPAL Date time 2015-05-03 23:14:13.4 UTC Location... http://…
RT : Helpline number of the Indian Embassy in Nepal for queries regarding the Nepal Earthquake: +977-985-110-7021 +977-985-113-5141
RT : 4.9 earthquake, 103km SSE of Iranshahr, Iran. May 4 16:00 at epicenter (19m ago, depth 30km).
RT : Current Earthquake Magnitude 5.1 - 5km SW of Mirik, India Location 26.859°N 88.141°E Depth 67.1 km
M 4.8 - 44km ESE of Lamjung, Nepal: DYFI? - IVTime2015-04-27 18:59:56 UTC2015-04-28 00:44:56 +05:4...
RT : 7.1 earthquake, 116km SSW of Kokopo, Papua New Guinea. May 1 18:06 at epicenter (10m ago, depth 61km).
RT : 5.4 earthquake, 166km ESE of Kimbe, Papua New Guinea. May 9 21:14 at epicenter (24m ago, depth 42km).
RT : 5.4 earthquake, 75km WSW of Santiago de Cao, Peru. Apr 26 18:35 at epicenter (24m ago, depth 15km).
RT : 4.2 earthquake! Thu Apr 30 06:22:11 GMT+05:45 2015 near 35km SE of Lamjung, Nepal
EARTHQUAKE OF 1990 VS isn't 8.4 but M=8.0 Nep-Ind border region Time 1934-01-15AD 14:28:25 UTC+05:45 Location26.885°N 86.589°E Depth:15.0 km
USGS EQ: M 4.3 - 16km ENE of Nagarkot, Nepal: DYFI? - ITime2015-04-27 21:27:41 UTC2015-04-28 03:12...
RT : 4.7 earthquake, 54km WSW of Kish, Iran. Apr 27 09:34 at epicenter (21m ago, depth 35km).
RT : 4.6 earthquake, 17km SE of Panaoti, Nepal. Apr 27 04:17 at epicenter (12m ago, depth 10km).
Earthquake of M 4.9 is detected at 32km S of Kodari Nepal on Fri May 08 06:17:33 GMT+05:45 2015 and it was 9.82 Km deep
RT : New mb 4.4 NEPAL: Magnitude mb 4.4 Region NEPAL Date time 2015-05-04 01:15:06.2 UTC Location... http://…
RT : 5.6 earthquake, 103km S of Kokopo, Papua New Guinea. May 5 11:58 at epicenter (56m ago, depth 58km).
Earthquake Helpline: West Bengal: 1070, MHA. 23093564/66, NDMA. 26701728/29, 9868881801 Indian Embassy in Kathmandu: +977 9851107021/35141
RT : Via 5.3 earthquake, 135km SW of Port Blair, India. May 1 14:58 at epicenter (17m ago, depth 27km) …
4.2 earthquake! Sun May 03 03:29:10 GMT+05:45 2015 near 29km S of Kodari, Nepal
Nepal Earthquake Updates Two, May 6, 2015: Kathmandu, May 6, 2015 Rev. Dr. Bal Krishna Sharma Dear Friends, As...
5.1 Magnitude Earthquake 10 Km From Mirik, West Bengal, India UTC Time: Monday, April 27, 2015 12:35 PM Your...
M 4.8 - 44km ESE of Lamjung, Nepal: DYFI? - IVTime2015-04-27 18:59:56 UTC2015-04-28 00:44:56 +05:45 at e...
M 4.6 - 221km N of Bamboo Flat, India: DYFI? - ITime2015-05-08 03:02:33 UTC2015-05-08 09:02:33 +06...
RT : 4.9 earthquake, 143km SSW of Taron, Papua New Guinea. May 5 15:07 at epicenter (18m ago, depth 40km).
USGS EQ: M 4.2 - 23km NNW of Hitura, Nepal: DYFI? - IIITime2015-04-27 00:39:16 UTC2015-04-27 06:24...
2 reported 6.8 M 106km SSW of Kokopo 08:06:04 UTC 6.7 M 125km SSW of Kokopo, 10:45:05 UTC Papua New Guinea (src:USGS)
RT : Gujrat Earthquake 26/01. Tsunami 26/04 Mumbai attack 26/11 Nw Nepal earthquake 26/04. Y is it Alws 26? is it Coincidence?
Earthquake Time 12.53am IST Magnitude 4.5 Assam Nagaland Depth 60 km Epicentre 14 km east of Tuensang, India 109 km North East of Kohima
RT : 5.1 earthquake, 138km ENE of Bitung, Indonesia. May 4 14:55 at epicenter (22m ago, depth 35km).
RT : 4.8 earthquake, 13km S of Maketu, New Zealand. May 3 14:30 at epicenter (20m ago, depth 176km).
RT : 5.6 earthquake, 103km S of Kokopo, Papua New Guinea. May 5 11:58 at epicenter (56m ago, depth 58km).
RT : 4.7 earthquake, 54km WSW of Kish, Iran. Apr 27 09:34 at epicenter (21m ago, depth 35km).
RT : Khan saab- INDIAN Embassy HELPLINE (NEPAL) : +9779851107021 , +9779851135141 &amp; Other numbers - +9771 4261945/ 4261…
USGS EQ: M 4.4 - 34km NNW of Ramechhap, Nepal: DYFI? - IITime2015-05-04 01:15:07 UTC2015-05-04 07:...
The last one 4.2 earthquake! Mon Apr 27 06:24:16 GMT+05:45 2015 near 23km NNW of Hitura, Nepal
Rangers beat Caps 2-1 in OT of Game 5; Caps lead series 3-2 News Pic
Nepal Earthquake Update on 05 May 2015 at 2000 hrs. 09 NDRF teams deployed in NEPAL. Contd....
1934- Nepal Bihar earthquake caused earth to move 6 mtrs- 2011 Japan caused 17 cm tilt, 2010 Chile- 8 CM tilt &amp; 2014 Sumatra- 17 cms tilt
Oh ! save them 7.1 earthquake! Fri May 01 13:51:05 GMT+05:45 2015 near 110km SSW of Kokopo, Papua New Guinea
RT : Updated USGS Aftershock Advisory for the Magnitude 7.8 Gorkha earthquake in Nepal April 25, 2015 (as of May 8, 2015)
RT : 4.9 earthquake, 102km SW of Panguna, Papua New Guinea. May 8 00:00 at epicenter (58m ago, depth 35km).
RT : Gujrat Earthquake 26.1.01. Tsunami 26.12.04 Taiwan earthquake 26 .7.10 Japan Earthquake 26.2.10 Mumbai attack 26/11 Nepa…
RT : 4.2 earthquake, 23km W of Kirtipur, Nepal. Apr 27 6:24am (25m ago, depth 10km).
RT : Nepal Earthquake Update on 27 Apr 2015 at 2000 hrs. For NEPAL - 10 NDRF teams deployed (4-Sitpaila, 4-Maharajganj) contd...
4.4 earthquake! Wed Apr 29 17:12:44 GMT+05:45 2015 near 18km NNW of Nagarkot, Nepal
RT : 5.1 earthquake, 28km SSW of Kodari, Nepal. Apr 25 12:22 at epicenter (47m ago, depth 9.9km).